#ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
}

#leftPaddle {
    width: 5px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50vh;
    left: 5vw;
}

#rightPaddle {
    width: 5px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50vh;
    left: 95vw;
}

.canvas {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.scoreCanvas {
    background-color: black;
    color: white;
    width: 100vw;
    text-align: center;
}

h3 {
    display: block;
}

h4 {
    display: inline;
}

.userInterface {
    color: white;
    background-color: black;
}

p {
    background-color: black;
}